.center-text {
  text-align: center;
}

.jumbotron {
  height: 100vh;
}

.topseparate {
  width: 100%;
  border-spacing: 5px;
  border-bottom-width: 2px;
  border-bottom: dashed black;
  box-sizing:content-box;
}

.background-flow {
  overflow: hidden;
  position: relative;
}

.background-pic {
  opacity: .8;
  position: absolute;
  width: 100%;
  height: 100%;
  background-attachment:fixed;
  background-image: url(../img/background-pizza.jpg);
  object-fit:cover;
}

.container {
  position: relative;
  background-color: rgb(214, 214, 214, 0.8);
}

.hrline {
  border: 10px inset #021a31;
  width: 100%;
  flex: auto;
  }

#orderShow {
  display: none;
}

